<div class="row" ng-controller="ProfileController as profile">
    <div  class="large-9 large-centered columns text-center">
        <div class="row panel radius text-center">

            <div id="logo" class="large-4 columns">
                <img src="img/profile.png" alt ="Податкова" class="th">
            </div>
            <div class="large-8 columns">
                <h4 class="text-left">Прізвище та ім'я: Тіщенко Іван</h4>
                <h4 class="text-left">Статус користувача: Модератор</h4>
                <h4 class="text-left">Платник подактів: Так</h4>
                <h4 class="text-left">ПДВ: Так</h4>

            </div>
            <a href="" class="button" ng-click="profile.logout()">Вийти з системи</a>
        </div>
    </div>
</div>
