<div  class="row"  ng-controller="RegController as regCtrl">
    <div  class="large-9 large-centered columns text-center">
        <div class="row panel radius text-center">

            <div id="logo" class="large-4 columns">
                <a href="#/log"><img src="img/logo.png" alt ="Податкова"></a>
            </div>
            <div class="large-4  columns">
                <h5>
                    Увійдіть в систему:
                </h5>
                <form name="regForm">
                    <div class="row">
                        <div class="large-12 columns">
                            <label class="text-left">Email користувача: </label>
                            <input type="email" placeholder="Введіть email" ng-model="regCtrl.dataLog.eMail" required/>
                        </div>
                    </div>
                    <div class="row">
                        <div class="large-12 columns">
                            <label class="text-left">Логін користувача: </label>
                            <input type="text" placeholder="Введіть логін" ng-model="regCtrl.dataLog.login" required/>
                        </div>
                    </div>
                    <div class="row">
                        <div class="large-12 columns">
                            <label class="text-left">Пароль користувача: </label>
                            <input type="password" placeholder="Введіть пароль" ng-model="regCtrl.dataLog.password" required/>
                        </div>
                    </div>
                    <div class="row">
                        <div class="large-12 large-centered columns">
                            <input class="button radius" type="submit" value="Зареєструватися"/>
                        </div>
                    </div>
                </form>
                <a class="large-link" href="#/log">На головну</a>
            </div>
            <div class="large-4 columns show-for-medium-up">
                <h3>Вітаємо Вас</h3>
                <h3 ng-model="regCtrl.dataLog.login">{{regCtrl.dataLog.login}}</h3>
                <p>
                    Будь ласка введіть коректну електронну адресу, логін та пароль для реєстраціії в системі
                </p>
            </div>
        </div>
    </div>

</div>